<section class="counter-section pt-115">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title mb-80">
            <span class="title-tag">COUNTER</span>
            <h2>Some Fun Facts</h2>
        </div>
        <!-- Counter -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-6" *ngFor="let item of countPost">
                <div class="counter-box counter-box-two">
                    <div class="icon">
                        <i [class]="item.icon"></i>
                    </div>
                    <h4>{{item.value}}<span class="prefix">{{item.prefix}}</span></h4>
                    <span class="title">{{item.title}}</span>
                </div>
            </div>
        </div>
        <!-- Gallery -->
        <div class="row">
            <div class="col-sm-6">
                <div class="image mt-30">
                    <img src="assets/img/gallery/09.jpg" alt="image">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image mt-30">
                    <img src="assets/img/gallery/10.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>