<footer class="footer-two">
    <div class="footer-widget-area pt-100 pb-50 {{layout}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 order-1">
                    <!-- Site Info Widget -->
                    <div class="widget site-info-widget mb-50">
                        <div class="footer-logo mb-10">
                            <img [src]="logo" alt="logo">
                        </div>
                        <p>
                            Dar Ichkeul vous offre le calme et la beauté de la nature, pour vous permettre de vous détendre,vous ressourcer et passer d'agréables moments en famille ou entre amis.
                            <br> Vous y serez chaleureusement accueillis, nous vous souhaitons à tous, la bienvenue.
                        </p>
                        <div class="social-links mt-40">
                            <a href="https://www.facebook.com/dar.ichkeul"><i class="fab fa-facebook-f"></i></a>
                            <!--<a href="#"><i class="fab fa-twitter"></i></a>-->
                            <!--<a href="#"><i class="fab fa-behance"></i></a>-->
                            <!--<a href="#"><i class="fab fa-linkedin"></i></a>-->
                            <a href="https://www.instagram.com/dar.ichkeul/?hl=fr"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-3 order-lg-2">
                    <!-- Nav Widget -->
                    <div class="widget nav-widget mb-50">
                        <div>
                            <!--<h4 class="widget-title">Services</h4>-->
                            <ul>
                                <li><a>Suites</a></li>
                                <li><a>Restaurant</a></li>
                                <li><a>Piscine</a></li>
                                <li><a>Équitation</a></li>
                                <li><a>Tennis</a></li>
                                <li><a>Randonnée</a></li>
                                <li><a>Teambuilding</a></li>
                                <!--<li><a href="">Teambuilding</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 order-2 order-lg-3">
                    <!-- Contact Widget -->
                    <div class="widget contact-widget mb-50">
                        <h4 class="widget-title">Contactez dar Ichkeul</h4>
                        <div class="contact-lists">
                            <div class="contact-box">
                                <div class="icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="desc">
                                    <h6 class="title">Numéro de téléphone</h6>
                                    +216 27 595 239
                                </div>
                            </div>
                            <div class="contact-box">
                                <div class="icon">
                                    <i class="flaticon-message"></i>
                                </div>
                                <div class="desc">
                                    <h6 class="title">Adresse e-mail</h6>
                                    <a href="#">Support@darichkeul.tn</a>
                                </div>
                            </div>
                            <div class="contact-box">
                                <div class="icon">
                                    <i class="flaticon-location-pin"></i>
                                </div>
                                <div class="desc">
                                    <h6 class="title">Adresse</h6>
                                    Route de Tunis Km 3 Mateur, Borj Essabai 7030 Mateur, Tunisie
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area pt-30 pb-30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 order-2 order-md-1">
                    <p class="copyright-text copyright-two">Copyright By@<a href="#">Dar Ichkeul</a> - 2022</p>
                </div>
                <div class="col-lg-6 col-md-7 order-1 order-md-2">
                    <div class="footer-menu text-center text-md-right">
                        <ul>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy Environmental Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>