<app-header [layout]="Headerclassname"></app-header>
<app-breadcrumb></app-breadcrumb>
<app-about-text></app-about-text>
<app-room-slider></app-room-slider>
<!--<app-core-feature></app-core-feature>-->
<!--<app-counter-two></app-counter-two>-->
<app-testimonials></app-testimonials>
<!--<app-blog-post></app-blog-post>-->
<app-footer></app-footer>
<a href="https://www.facebook.com/dar.ichkeul" class="intercom-lightweight-app">
    <div class="intercom-lightweight-app-launcher intercom-launcher" role="button" tabindex="0" aria-label="Open Intercom Messenger" aria-live="polite">
        <div class="intercom-lightweight-app-launcher-icon intercom-lightweight-app-launcher-icon-open"><img src="https://downloads.intercomcdn.com/i/o/299002/b731a3f930a9ad910c9ee7e9/1a269b2104beaaafeea6644490b1e6eb.png" alt="" class="intercom-lightweight-app-launcher-custom-icon-open"></div>
        <div class="intercom-lightweight-app-launcher-icon intercom-lightweight-app-launcher-icon-minimize"><svg viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.116 4.884l1.768-1.768L8 9.232l6.116-6.116 1.768 1.768L8 12.768.116 4.884z"></path></svg></div>
    </div>
    <style id="intercom-lightweight-app-style" type="text/css">
        @keyframes intercom-lightweight-app-launcher {
            from {
                opacity: 0;
                transform: scale(0.5);
            }
            to {
                opacity: 1;
                transform: scale(1);
            }
        }
        
        @keyframes intercom-lightweight-app-gradient {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        @keyframes intercom-lightweight-app-messenger {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        .intercom-lightweight-app {
            position: fixed;
            z-index: 2147483001;
            width: 0;
            height: 0;
            font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
        }
        
        .intercom-lightweight-app-gradient {
            position: fixed;
            z-index: 2147483002;
            width: 500px;
            height: 500px;
            bottom: 0;
            right: 0;
            pointer-events: none;
            background: radial-gradient( ellipse at bottom right, rgba(29, 39, 54, 0.16) 0%, rgba(29, 39, 54, 0) 72%);
            animation: intercom-lightweight-app-gradient 200ms ease-out;
        }
        
        .intercom-lightweight-app-launcher {
            position: fixed;
            z-index: 2147483003;
            bottom: 20px;
            right: 20px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #001E2B;
            cursor: pointer;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
            animation: intercom-lightweight-app-launcher 250ms ease;
        }
        
        .intercom-lightweight-app-launcher:focus {
            outline: none;
        }
        
        .intercom-lightweight-app-launcher-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            transition: transform 100ms linear, opacity 80ms linear;
        }
        
        .intercom-lightweight-app-launcher-icon-open {
            opacity: 1;
            transform: rotate(0deg) scale(1);
        }
        
        .intercom-lightweight-app-launcher-icon-open svg {
            width: 28px;
            height: 32px;
        }
        
        .intercom-lightweight-app-launcher-icon-open svg path {
            fill: rgb(255, 255, 255);
        }
        
        .intercom-lightweight-app-launcher-icon-self-serve {
            opacity: 1;
            transform: rotate(0deg) scale(1);
        }
        
        .intercom-lightweight-app-launcher-icon-self-serve svg {
            height: 56px;
        }
        
        .intercom-lightweight-app-launcher-icon-self-serve svg path {
            fill: rgb(255, 255, 255);
        }
        
        .intercom-lightweight-app-launcher-custom-icon-open {
            max-height: 36px;
            max-width: 36px;
            opacity: 1;
            transform: rotate(0deg) scale(1);
        }
        
        .intercom-lightweight-app-launcher-icon-minimize {
            opacity: 0;
            transform: rotate(-60deg) scale(0);
        }
        
        .intercom-lightweight-app-launcher-icon-minimize svg {
            width: 16px;
        }
        
        .intercom-lightweight-app-launcher-icon-minimize svg path {
            fill: rgb(255, 255, 255);
        }
        
        .intercom-lightweight-app-messenger {
            position: fixed;
            z-index: 2147483003;
            overflow: hidden;
            background-color: white;
            animation: intercom-lightweight-app-messenger 250ms ease-out;
            width: 376px;
            height: calc(100% - 120px);
            max-height: 704px;
            min-height: 250px;
            right: 20px;
            bottom: 100px;
            box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
            border-radius: 8px;
        }
        
        .intercom-lightweight-app-messenger-header {
            height: 75px;
            background: linear-gradient( 135deg, rgb(0, 30, 43) 0%, rgb(0, 0, 0) 100%);
        }
        
        .intercom-lightweight-app-messenger-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            min-height: 95px;
            background: #fff;
            font-size: 14px;
            line-height: 21px;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
        }
        
        @media print {
            .intercom-lightweight-app {
                display: none;
            }
        }
    </style>
</a>