<section class="room-type-section pt-115 pb-115" [style.background-image]="'url(assets/img/bg/01.jpg)'">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title text-lg-left text-center">
                    <span class="title-tag">room type</span>
                    <h2>Inspired Loding</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="room-filter nav nav-pills justify-content-center justify-content-lg-end" ngbNav #roomTypeNav="ngbNav">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>
                            Luxury
                        </a>
                        <ng-template ngbNavContent>
                            <div class="room-items">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="room-box extra-wide">
                                                    <div class="room-bg"
                                                        [style.background-image]="'url(assets/img/room-type/04.jpg)'"></div>
                                                    <div class="room-content">
                                                        <span class="room-count"><i class="fal fa-th"></i>03 Rooms</span>
                                                        <h3><a routerLink="/room-details/1">Luxury Hall Of Fame</a></h3>
                                                    </div>
                                                    <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="room-box">
                                                    <div class="room-bg"
                                                        [style.background-image]="'url(assets/img/room-type/01.jpg)'">
                                                    </div>
                                                    <div class="room-content">
                                                        <span class="room-count"><i class="fal fa-th"></i>05 Rooms</span>
                                                        <h3><a routerLink="/room-details/1">Pendora Fame</a></h3>
                                                    </div>
                                                    <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="room-box">
                                                    <div class="room-bg"
                                                        [style.background-image]="'url(assets/img/room-type/02.jpg)'">
                                                    </div>
                                                    <div class="room-content">
                                                        <span class="room-count"><i class="fal fa-th"></i>10 Rooms</span>
                                                        <h3><a routerLink="/room-details/1">Pacific Room</a></h3>
                                                    </div>
                                                    <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="room-box extra-height">
                                            <div class="room-bg" [style.background-image]="'url(assets/img/room-type/03.jpg)'">
                                            </div>
                                            <div class="room-content">
                                                <span class="room-count"><i class="fal fa-th"></i>12 Rooms</span>
                                                <h3><a routerLink="/room-details/1">Junior Suite</a></h3>
                                            </div>
                                            <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>
                            Family
                        </a>
                        <ng-template ngbNavContent>
                            <div class="room-items">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="room-box extra-height">
                                            <div class="room-bg" [style.background-image]="'url(assets/img/room-type/03.jpg)'">
                                            </div>
                                            <div class="room-content">
                                                <span class="room-count"><i class="fal fa-th"></i>12 Rooms</span>
                                                <h3><a routerLink="/room-details/1">Junior Suite</a></h3>
                                            </div>
                                            <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="room-box">
                                                    <div class="room-bg"
                                                        [style.background-image]="'url(assets/img/room-type/02.jpg)'">
                                                    </div>
                                                    <div class="room-content">
                                                        <span class="room-count"><i class="fal fa-th"></i>10 Rooms</span>
                                                        <h3><a routerLink="/room-details/1">Pacific Room</a></h3>
                                                    </div>
                                                    <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="room-box">
                                                    <div class="room-bg"
                                                        [style.background-image]="'url(assets/img/room-type/01.jpg)'">
                                                    </div>
                                                    <div class="room-content">
                                                        <span class="room-count"><i class="fal fa-th"></i>05 Rooms</span>
                                                        <h3><a routerLink="/room-details/1">Pendora Fame</a></h3>
                                                    </div>
                                                    <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="room-box extra-wide">
                                                    <div class="room-bg"
                                                        [style.background-image]="'url(assets/img/room-type/04.jpg)'"></div>
                                                    <div class="room-content">
                                                        <span class="room-count"><i class="fal fa-th"></i>03 Rooms</span>
                                                        <h3><a routerLink="/room-details/1">Luxury Hall Of Fame</a></h3>
                                                    </div>
                                                    <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink>
                            Double Bed
                        </a>
                        <ng-template ngbNavContent>
                            <div class="room-items">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="room-box extra-height">
                                            <div class="room-bg" [style.background-image]="'url(assets/img/room-type/03.jpg)'">
                                            </div>
                                            <div class="room-content">
                                                <span class="room-count"><i class="fal fa-th"></i>12 Rooms</span>
                                                <h3><a routerLink="/room-details/1">Junior Suite</a></h3>
                                            </div>
                                            <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="room-box extra-wide">
                                                    <div class="room-bg"
                                                        [style.background-image]="'url(assets/img/room-type/04.jpg)'"></div>
                                                    <div class="room-content">
                                                        <span class="room-count"><i class="fal fa-th"></i>03 Rooms</span>
                                                        <h3><a routerLink="/room-details/1">Luxury Hall Of Fame</a></h3>
                                                    </div>
                                                    <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="room-box">
                                                    <div class="room-bg"
                                                        [style.background-image]="'url(assets/img/room-type/01.jpg)'">
                                                    </div>
                                                    <div class="room-content">
                                                        <span class="room-count"><i class="fal fa-th"></i>05 Rooms</span>
                                                        <h3><a routerLink="/room-details/1">Pendora Fame</a></h3>
                                                    </div>
                                                    <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="room-box">
                                                    <div class="room-bg"
                                                        [style.background-image]="'url(assets/img/room-type/02.jpg)'">
                                                    </div>
                                                    <div class="room-content">
                                                        <span class="room-count"><i class="fal fa-th"></i>10 Rooms</span>
                                                        <h3><a routerLink="/room-details/1">Pacific Room</a></h3>
                                                    </div>
                                                    <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                        <a ngbNavLink>
                            Relex
                        </a>
                        <ng-template ngbNavContent>
                            <div class="room-items">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="room-box">
                                                    <div class="room-bg"
                                                        [style.background-image]="'url(assets/img/room-type/01.jpg)'">
                                                    </div>
                                                    <div class="room-content">
                                                        <span class="room-count"><i class="fal fa-th"></i>05 Rooms</span>
                                                        <h3><a routerLink="/room-details/1">Pendora Fame</a></h3>
                                                    </div>
                                                    <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="room-box">
                                                    <div class="room-bg"
                                                        [style.background-image]="'url(assets/img/room-type/02.jpg)'">
                                                    </div>
                                                    <div class="room-content">
                                                        <span class="room-count"><i class="fal fa-th"></i>10 Rooms</span>
                                                        <h3><a routerLink="/room-details/1">Pacific Room</a></h3>
                                                    </div>
                                                    <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="room-box extra-wide">
                                                    <div class="room-bg"
                                                        [style.background-image]="'url(assets/img/room-type/04.jpg)'"></div>
                                                    <div class="room-content">
                                                        <span class="room-count"><i class="fal fa-th"></i>03 Rooms</span>
                                                        <h3><a routerLink="/room-details/1">Luxury Hall Of Fame</a></h3>
                                                    </div>
                                                    <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="room-box extra-height">
                                            <div class="room-bg" [style.background-image]="'url(assets/img/room-type/03.jpg)'">
                                            </div>
                                            <div class="room-content">
                                                <span class="room-count"><i class="fal fa-th"></i>12 Rooms</span>
                                                <h3><a routerLink="/room-details/1">Junior Suite</a></h3>
                                            </div>
                                            <a routerLink="/room-details/1" class="room-link"><i class="fal fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
        <div [ngbNavOutlet]="roomTypeNav" class="mt-65"></div>
    </div>
</section>