/*.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
    padding-left: 10px;
    background-color: #222;
}*/

.slick-slide img {
    display: inline-block;
    padding-left: 10px;
    background-color: rgb(255, 255, 255) !important;
}

.title {
    font-family: 'Courier, monospace';
    font-size: 90px;
    /*margin-left: 15px;*/
}


/* Mobile xs */

@media (max-width: 420px) {
    .title {
        font-family: 'Courier, monospace';
        font-size: 60px !important;
    }
}


/* Mobile & Tablet Rules */

@media (max-width: 767px) {
    .title {
        font-family: 'Courier, monospace';
        font-size: 60px !important;
    }
}