<section class="instagram-feed-section">
    <div class="container-fluid p-0">
        <h1 class="title text-center mt-5">Galerie</h1>
        <ngx-slick-carousel #slickModal="slick-carousel" [config]="settings" class="instagram-slider mt-5">
            <div ngxSlickItem class="image" *ngFor="let item of instaimage">
                <a href="#" class="insta-popup">
                    <img [src]="item.img" alt="instagram-feed">
                </a>
            </div>
        </ngx-slick-carousel>
    </div>
</section>