<section class="room-section room-grid-style pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center room-gird-loop">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let item of rooms | paginate: { itemsPerPage: 6, currentPage: page }">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" [style.background-image]="'url('+item.gridimage+')'"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li *ngFor="let item of item.amenities | slice:0:7"><i [class]="item.icon"></i></li>
                        </ul>
                        <h4 class="title"><a routerLink="/room-details/{{item.id}}">{{item.title}}</a></h4>
                        <p>{{item.text | slice:0:75}}...</p>
                        <i class="bi bi-calendar2"></i>
                        <span class="price">{{item.price | number:'1.0-0'}} DT/{{item.period}}</span>
                        <a routerLink="/room-details/{{item.id}}" class="book-btn">Réserver</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-wrap">
            <pagination-controls (pageChange)="page = $event" responsive="true" previousLabel="<<" nextLabel=">>"></pagination-controls>
        </div>
    </div>
</section>