<ngx-slick-carousel #slickModal="slick-carousel" [config]="settings" class="banner-area banner-style-two" id="bannerSlider">
    <div ngxSlickItem class="single-banner d-flex align-items-center justify-content-center" *ngFor="let item of bannerPosts">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="banner-content text-center">
                        <!--<span class="promo-tag">{{item.tag}}</span>-->
                        <h1 class="title" [innerHtml]="item.title"></h1>
                        <ul>
                            <!--<li>
                                <a class="main-btn btn-filled" routerLink="/room-details/">take a tour</a>
                            </li>-->
                            <li>
                                <a class="main-btn btn-filled" routerLink="/room-grid">Réserver</a>
                            </li>
                            <li>
                                <a class="main-btn btn-border" routerLink="/about">Lire plus</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner bg -->
        <div class="banner-bg" [style.background-image]="'url('+item.img+')'"></div>
        <div class="banner-overly"></div>
    </div>
</ngx-slick-carousel>