<!--<app-header [layout]="Headerclassname"></app-header>
<app-breadcrumb></app-breadcrumb>
<app-offer-box></app-offer-box>
<app-feature-room></app-feature-room>
<app-footer></app-footer>-->

<app-header [layout]="Headerclassname"></app-header>
<app-breadcrumb></app-breadcrumb>
<section class="gallery-wrappper pt-120 pb-120">
    <div class="container">
        <div class="gallery-loop">
            <div class="single-gallery-image" *ngFor="let item of equitation">
                <a class="popup-image">
                    <img [src]="item.img" alt="Images">
                </a>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>