<section class="contact-part pt-115 pb-115">

    <div class="container">
        <!-- Contact Info -->
        <div class="contact-info">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-10">
                    <div class="info-box">
                        <div class="icon">
                            <i class="flaticon-home"></i>
                        </div>
                        <div class="desc">
                            <h4>Adresse</h4>
                            <p>Route de Tunis Km 3 Mateur, Borj Essabai 7030 Mateur, Tunisie</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-10">
                    <div class="info-box">
                        <div class="icon">
                            <i class="flaticon-phone"></i>
                        </div>
                        <div class="desc">
                            <h4>Numéro de téléphone</h4>
                            <p>+216 27 595 239
                                <!--<br> + 876 766 8675 765 6</p>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-10">
                    <div class="info-box">
                        <div class="icon">
                            <i class="flaticon-message"></i>
                        </div>
                        <div class="desc">
                            <h4>Adresse e-mail</h4>
                            <p>support@darichkeul.tn
                                <!--<br> jobs.example@example.com</p>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Mapts -->
        <agm-map class="contact-maps mb-30" id="contactMaps" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <!-- Contact Form -->
        <div class="contact-form mt-30">
            <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-30">
                            <span class="icon"><i class="far fa-user"></i></span>
                            <input type="text" placeholder="Nom et prénom" name="name" [(ngModel)]="model.name" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-30">
                            <span class="icon"><i class="far fa-envelope"></i></span>
                            <input type="email" placeholder="Addresse E-mail" name="email" [(ngModel)]="model.email" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-30">
                            <span class="icon"><i class="far fa-phone"></i></span>
                            <input type="text" placeholder="Numero de téléphone" name="phone" [(ngModel)]="model.phone" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-30">
                            <span class="icon"><i class="far fa-book"></i></span>
                            <input type="text" placeholder="Objet" name="subject" [(ngModel)]="model.subject" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group textarea mb-30">
                            <span class="icon"><i class="far fa-pen"></i></span>
                            <textarea type="text" placeholder="Entrer un message" name="message" [(ngModel)]="model.message" required></textarea>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <re-captcha (resolved)="resolved($event)" name="recaptcha" [(ngModel)]="model.recaptcha" siteKey="6LdxUhMaAAAAAIrQt-_6Gz7F_58S4FlPWaxOh5ib" size="invisible"></re-captcha>
                        <button type="submit" class="main-btn btn-filled" [disabled]="!contactForm.form.valid">Confirmer</button>
                    </div>
                    <!--<div class="service-error mt-4 w-100" *ngIf="error">
                        <ngb-alert type="danger" class="mb-0 w-100 mt-4" [dismissible]="false">
                            <strong>Oops!</strong> Something bad happened. Please try again later.
                        </ngb-alert>
                    </div>
                    <div [hidden]="!submitted" class="contact-message w-100">
                        <div *ngIf="model.message" class="contact-success w-100">
                            <ngb-alert type="success" class="mb-0 w-100 mt-4" [dismissible]="false">
                                <strong>Success!</strong> Contact form has been successfully submitted.
                            </ngb-alert>
                        </div>
                    </div>-->
                </div>
            </form>
        </div>
    </div>
</section>