<app-header-three></app-header-three>
<app-banner></app-banner>
<section class="booking-form booking-form-dark">
    <div class="container">
        <app-booking-form></app-booking-form>
    </div>
</section>
<!--<app-about-text></app-about-text>-->
<!--<app-room-slider></app-room-slider>-->
<app-text-block></app-text-block>
<app-core-feature></app-core-feature>
<!--<app-menu-area></app-menu-area>-->
<section class="counter-section">
    <div class="container">
        <div class="counter-inner bg-black pt-100 pb-60">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-11">
                    <app-counter></app-counter>
                </div>
            </div>
        </div>
    </div>
</section>
<app-blog-post></app-blog-post>
<app-footer-two [layout]="classname" [logo]="ftlogo"></app-footer-two>