<app-header [layout]="Headerclassname"></app-header>
<app-banner></app-banner>
<section class="booking-form boxed-layout">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <app-booking-form></app-booking-form>
            </div>
        </div>
    </div>
</section>
<app-about-text></app-about-text>
<app-room-type></app-room-type>
<app-cta></app-cta>
<!--<app-room-slider></app-room-slider>-->
<app-text-block></app-text-block>
<app-testimonials></app-testimonials>
<app-room-gallery></app-room-gallery>
<app-blogpost></app-blogpost>
<app-footer></app-footer>