<section class="room-gallery-cta" [style.background-image]="'url(assets/img/room-cta-gallery/bg.jpg)'">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="cta-text text-center">
                    <span>our rooms</span>
                    <h2>
                        Each of our nine lovely double guest rooms feature a private bath, wi-fi, cable television
                        and include full breakfast.
                    </h2>
                    <ul class="mt-50">
                        <li><a class="main-btn btn-filled" routerLink="/room-details/1">take a
                                tour</a></li>
                        <li><a class="main-btn btn-border" routerLink="/about">Learn
                                More</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="rotate-images">
        <img src="assets/img/room-cta-gallery/01.jpg" class="rotate-image-one" alt="img">
        <img src="assets/img/room-cta-gallery/02.jpg" class="rotate-image-two" alt="img">
        <img src="assets/img/room-cta-gallery/03.jpg" class="rotate-image-three" alt="img">
    </div>
</section>