<section class="text-block pt-115 pb-115">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="text-img text-center text-lg-left mb-small">
                    <img src="assets/img/text-block/02.jpg" alt="img">
                </div>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-10">
                <div class="block-text">
                    <div class="section-title mb-20">
                        <!--<span class="title-tag">FAIRE UN TOUR</span>-->
                        <h2 class="title">Dar ichkeul notre souterrain</h2>
                    </div>
                    <p>
                        Dar Ichkeul vous offre le calme et la beauté de la nature, pour vous permettre de vous détendre,vous ressourcer et passer d'agréables moments en famille ou entre amis.Vous y serez chaleureusement accueillis, nous vous souhaitons à tous, la bienvenue.

                    </p>
                    <a routerLink="/about" class="main-btn btn-filled mt-40">Lire plus</a>
                </div>
            </div>
        </div>
    </div>
</section>