.title {
    font-family: 'Courier, monospace';
}


/* Mobile xs */

@media (max-width: 420px) {
    .breadcrumb-area .breadcrumb-text h2.page-title {
        font-size: 30px;
    }
}


/* Mobile & Tablet Rules */

@media (max-width: 767px) {
    .breadcrumb-area .breadcrumb-text h2.page-title {
        font-size: 30px;
    }
}