<breadcrumb #parent>
    <section class="breadcrumb-area" [style.background-image]="'url(assets/img/bg/04.jpg)'">
        <div class="container">
            <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                <div class="breadcrumb-text">
                    <span>Le luxe ultime</span>
                    <h2 class="page-title title">{{ route.displayName }}</h2>
                    <ul class="breadcrumb-nav">
                        <li><a routerLink='/'>Accueil</a></li>
                        <li *ngIf="!route.terminal">
                            <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
                        </li>
                        <li *ngIf="route.terminal" class="active">{{ route.displayName }}</li>
                    </ul>
                </div>
            </ng-template>
        </div>
    </section>
</breadcrumb>