<footer>
    <div class="footer-subscibe-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe-text text-center">
                        <div class="footer-logo mb-45">
                            <img src="assets/img/logo-2.png" alt="logo">
                        </div>
                        <p>
                            LÀ OÙ LA VIE EST PLUS DOUCE
                        </p>
                        <!--<form class="subscribe-form mt-50">
                            <input type="email" placeholder="Enter your email address">
                            <button type="submit">subscribe</button>
                        </form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area pt-20 pb-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 order-2 order-md-1">
                    <p class="copyright-text">copyright by@DarIchkeul</p>
                </div>
                <div class="col-md-7 order-1 order-md-2">
                    <div class="social-links">
                        <a href="https://www.facebook.com/dar.ichkeul"><i class="fab fa-facebook-f" ></i></a>
                        <!--<a href="#"><i class="fab fa-twitter"></i></a>-->
                        <!--<a href="#"><i class="fab fa-behance"></i></a>-->
                        <a href="https://www.instagram.com/dar.ichkeul/?hl=fr"><i class="fab fa-instagram"></i></a>
                        <!--<a href="#"><i class="fab fa-youtube"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>